
.container{
	width: 80%;
	font: sans-serif;
	margin:auto;
}

.arrayValueHolder{
	display: inline-block;
	text-align: center;
	padding:0 4px 0 4px;
	border-radius: 5px;
}

.arrayIndexHolder{
	display: inline-block;
	text-align: left;
	padding:0 4px 0 4px;
}

.arrayLabel{
	text-align: right;
}

#canvasHolder{
	text-align:center;
}
#swapFlag{
	padding:0 5px 0 5px;
}


